<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Magazine Luiza</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="fonts/linearicons/style.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<div class="fundo">
			<div class="wrapper">
				<div class="inner">
					<img src="images/magalu.png" alt="" class="image-1">
					<img src="images/tag.png" alt="" class="image-tag">
					<form action="nivel_vendedor/html/dashboard.html">
						<img src="images/logo_parceiros.png" alt="">
						<!--<img src="images/fases.png" alt="">-->
						<div class="form-holder">
							<span class="lnr lnr-user"></span>
							<input type="number" class="form-control" placeholder="Usuário">
						</div>
						
						<div class="form-holder">
							<span class="lnr lnr-lock"></span>
							<input type="password" class="form-control" placeholder="Senha">
						</div>

						<h6><a href="cadastrese.html"> Não tem cadastro? Acesse! </a></h6>
						<button>
							<span>Entrar</span>
						</button>
					</form>
				</div>
				
			</div>
		</div>
			<img src="images/parceiros.png" class="parceiros">
		
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/main.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>