{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Magazine Luiza</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"  text="text/css"/>
  <link href="{% static 'assets/css/paper-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'assets/demo/demo.css' %}" type="text/css" rel="stylesheet" />
  
	<script type="text/javascript"
		id="botcopy-embedder-d7lcfheammjct"
		class="botcopy-embedder-d7lcfheammjct" 
		data-botId="5fb7066933dc1a0009e4aa19"
	>
		var s = document.createElement('script'); 
		s.type = 'text/javascript'; s.async = true; 
		s.src = 'https://widget.botcopy.com/js/injection.js'; 
		document.getElementById('botcopy-embedder-d7lcfheammjct').appendChild(s);
	</script>
		

</head>

<body style="background-color:#F4F3EF">
	<div class="cont" id="blur">
  
 <div class="wrapper" >
    <div class="sidebar" data-color="white" data-active-color="danger" >
      <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="{% static 'assets/img/logo-small.png' %}">
          </div>
          <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
          Parceiro Magalu
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="./dashboard.html">
              <i class="nc-icon nc-box-2"></i>
              <p>Produtos</p>
            </a>
          </li>
          <li>
            <a href="./pedidos.html">
              <i class="nc-icon nc-cart-simple"></i>
              <p>Pedidos</p>
            </a>
          </li>
          <li>
            <a href="./estoque.html">
              <i class="nc-icon nc-tag-content"></i>
              <p>Estoque</p>
            </a>
          </li>
          <li>
            <a href="./notifications.html">
              <i class="nc-icon nc-bell-55"></i>
              <p>Notificações</p>
            </a>
          </li>
          <li>
            <a href="./user.html">
              <i class="nc-icon nc-single-02"></i>
              <p>Perfil do vendedor</p>
            </a>
          </li>
		  <li>
            <a href="./visualizar_loja.html">
              <i class="nc-icon nc-album-2"></i>
              <p>Visualizar loja</p>
            </a>
          </li>
		  
		  <li>
            <a href="../../index.html">
              <i class="nc-icon nc-simple-remove"></i>
              <p>Sair</p>
            </a>
          </li>
		  
		 
          
        </ul>
      </div>
    </div>
    <div class="main-panel" >
      <!-- Navbar -->
      <nav  class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper" >
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;" >Loja das Winx</a>
          </div>
		  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
		 
          <div class="collapse navbar-collapse justify-content-end" id="navigation" >
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
		
      </nav>
      <!-- End Navbar -->
		  
		  
		  <div class="content">
			<div class="row" >
			  <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
				  <div class="card-body ">
					<div class="row">
					  <div class="col-5 col-md-4">
						<div class="icon-big text-center icon-warning">
						  <i class="nc-icon nc-chart-pie-36 text-warning"></i>
						</div>
					  </div>
					  <div class="col-7 col-md-8">
						<div class="numbers">
						  <p class="card-category">Categorias</p>
						  <p class="card-title">0<p>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="card-footer ">
					<hr>

					<div class="stats">
					  <a href="#" onclick="toggle_2()" style="color:black"><i class="fa fa-calendar-o"></i>
					  Cadastro de Categorias</a>
					</div>
					
				  </div>
				</div>
			  </div>
			  <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
				  <div class="card-body ">
					<div class="row">
					  <div class="col-5 col-md-4">
						<div class="icon-big text-center icon-warning">
						  <i class="nc-icon nc-bag-16 text-success"></i>
						</div>
					  </div>
					  <div class="col-7 col-md-8" >
						<div class="numbers" >
						  <p class="card-category" >Produtos</p>
						  <p class="card-title">0<p>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="card-footer ">
					<hr>

					<div class="stats">
					  <a href="#" onclick="toggle()" style="color:black"><i class="fa fa-calendar-o"></i>
					  Cadastro de Produtos</a>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
				  <div class="card-body ">
					<div class="row">
					  <div class="col-5 col-md-4">
						<div class="icon-big text-center icon-warning">
						  <i class="nc-icon nc-tag-content text-danger"></i>
						</div>
					  </div>
					  <div class="col-7 col-md-8">
						<div class="numbers">
						  <p class="card-category">Estoque</p>
						  <p class="card-title">0<p>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="card-footer ">
					<hr>
					<div class="stats">
					  <a href="estoque.html" onclick="toggle_3()" style="color:black"><i class="fa fa-calendar-o"></i>
					  Visualizar estoque</a>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
				  <div class="card-body ">
					<div class="row">
					  <div class="col-5 col-md-4">
						<div class="icon-big text-center icon-warning">
						  <i class="nc-icon nc-favourite-28 text-primary"></i>
						</div>
					  </div>
					  <div class="col-7 col-md-8">
						<div class="numbers">
						  <p class="card-category">Vitrine Magazine</p>
						  <p class="card-title">0<p>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="card-footer ">
					<hr>
					<div class="stats">
					  <a href="#" onclick="toggle_3()" style="color:black"><i class="fa fa-calendar-o"></i>
					  Publicar produtos</a>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div >
			<div style="height:100%; background-color:white; border-radius:10px; text-align:center">
				<p class="navbar-brand">Produtos Relacionados</p>
			<div class="content">
			<div class="row">
			  <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
				  <div class="card-body ">
					<div class="row">
						<center>
						  <img style="height:100%; width:60%; justify-align:center" src="{% static 'assets/img/01.jpg' %}">
						</center>
					  <div class="col-7 col-md-8">
						<div class="numbers">
						  <p class="card-title">Título<p>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="card-footer ">
					<hr>
					<div class="stats">
					  <i class="fa fa-refresh"></i>
					  R$ 120,00
					</div>
				  </div>
				</div>
			  </div>
			  <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
				  <div class="card-body ">
					<div class="row">
										<center>
						  <img style="height:100%; width:60%; justify-align:center" src="{% static 'assets/img/04.webp' %}">
						</center>
					  <div class="col-7 col-md-8">
						<div class="numbers">
						  <p class="card-title">Título<p>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="card-footer ">
					<hr>
					<div class="stats">
					  <i class="fa fa-refresh"></i>
					  R$ 120,00
					</div>
				  </div>
				</div>
			  </div>
			  <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
				  <div class="card-body ">
					<div class="row">
					<center>
					<img style="height:100%; width:60%; justify-align:center" src="{% static 'assets/img/02.jpg' %}">
						</center>
					  <div class="col-7 col-md-8">
						<div class="numbers">
						  <p class="card-title">Título<p>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="card-footer ">
					<hr>
					<div class="stats">
					  <i class="fa fa-refresh"></i>
					  R$ 120,00
					</div>
				  </div>
				</div>
			  </div>
			  <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
				  <div class="card-body ">
					<div class="row">
						<center>
						  <img src="{% static 'assets/img/03.jpg' %}" style="height:100%; width:60%; justify-align:center">
						</center>
					  <div class="col-7 col-md-8">
						<div class="numbers">
						  <p class="card-title">Título<p>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="card-footer ">
					<hr>
					<div class="stats">
					  <i class="fa fa-refresh"></i>
					  R$ 120,00
					</div>
				  </div>
			  </div>
			</div>



			</div>
			</div>
			
			
			</div>
			</div>
			
			</div>
		  </div>

		</div>
	</div>
  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/paper-dashboard.min.js' %}" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'assets/demo/demo.js' %}"></script>

</body>

	<div id="popup" style="width:50%; height:70%">
		<div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong><h4 class="card-title" style="color:blue"> Adicionar um novo produto</h4></strong>
              </div>
              <div class="card-body">
                <form action="nivel_vendedor/html/dashboard.html">
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						
						<select style="color:#0082F7; font-family:Arial black; font-size:14px" name="select">
						  <option value="" selected>Categoria</option>
						  <option value="valor1">Brinquedos</option> 
						  <option value="valor3">Eletrônicos</option>
						</select>
					</div>
					<br>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" placeholder="Nome">
					</div>	<br>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="number" class="form-control" placeholder="Preço">
					</div>	<br>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="number" class="form-control" placeholder="Código do produto">
					</div>	<br>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="number" class="form-control" placeholder="Quantidade estoque">
					</div>
						
					<div class="form-holder">

						<button style="color:white; height:31px; border:white; background-color:green"><i class="fa fa-fw fa-edit"></i>
							<span >Adicionar</span>
						</button>
						
						<a href="#" style="color:white; background-color:red" onclick="toggle()">
							<i class="fa fa-fw fa-edit"></i>
								<span>Fechar</span>
						</a>

					</div>
				</form>
				
            </div>
          </div>
		</div>
        </div>
		</div>
	</div>
	
		<div id="popup_categorias" style="width:50%; height:50%">
			<div class="content">
			<div class="row">
			  <div class="col-md-12">
				<div class="card">
				  <div class="card-header">
					<strong><h4 class="card-title" style="color:blue"> Adicionar uma nova categoria</h4></strong>
				  </div>
				  <div class="card-body">
					<form action="nivel_vendedor/html/dashboard.html">
						<div class="form-holder">
							<span class="lnr lnr-user"></span>
							<input type="text" class="form-control" placeholder="Nome">
						</div>	<br>
							
						<div class="form-holder">

							<button style="color:white; height:31px; border:white; background-color:green"><i class="fa fa-fw fa-edit"></i>
								<span >Adicionar</span>
							</button>
							
							<a href="#" style="color:white; background-color:red" onclick="toggle_2()">
								<i class="fa fa-fw fa-edit"></i>
									<span>Fechar</span>
							</a>

						</div>
					</form>
					
				</div>
			  </div>
			</div>
			</div>
		</div>
	</div>
	
		<div id="popup_vitrine" style="width:50%; height:50%">
			<div class="content">
			<div class="row">
			  <div class="col-md-12">
				<div class="card">
				  <div class="card-header">
					<strong><h4 class="card-title" style="color:blue"> Enviar produtos para a sua loja</h4></strong>
				  </div>
				  <div class="card-body">
					<form action="nivel_vendedor/html/dashboard.html">
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						
						<select style="color:#0082F7; font-family:Arial black; font-size:14px" name="select">
						  <option value="" selected>Categoria</option>
						  <option value="valor1">Brinquedos</option> 
						  <option value="valor3">Eletrônicos</option>
						</select>
					</div> <br>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						
						<select style="color:#0082F7; font-family:Arial black; font-size:14px" name="select">
						  <option value="" selected>Produto</option>
						  <option value="valor1">Brinquedos</option> 
						  <option value="valor3">Eletrônicos</option>
						</select>
					</div>
							
						<div class="form-holder">

							<button style="color:white; height:31px; border:white; background-color:green"><i class="fa fa-fw fa-edit"></i>
								<span >Enviar produtos</span>
							</button>
							
							<a href="#" style="color:white; background-color:red" onclick="toggle_3()">
								<i class="fa fa-fw fa-edit"></i>
									<span>Fechar</span>
							</a>

						</div>
					</form>
					
				</div>
			  </div>
			</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		function toggle(){
		var blur = document.getElementById('blur')
		blur.classList.toggle('active')
		var popup = document.getElementById('popup')
		popup.classList.toggle('active')
		}
	</script>
	
	<script type="text/javascript">
		function toggle_2(){
		var blur = document.getElementById('blur')
		blur.classList.toggle('active')
		var popup = document.getElementById('popup_categorias')
		popup.classList.toggle('active')
		}
	</script>
	
	<script type="text/javascript">
		function toggle_3(){
		var blur = document.getElementById('blur')
		blur.classList.toggle('active')
		var popup = document.getElementById('popup_vitrine')
		popup.classList.toggle('active')
		}
	</script>
	
	

</html>
